In [2]:
t=('apple','banana','orange','grape')
a, b, c, d = t
print(a)
print(b)
print(c)
print(d)

apple
banana
orange
grape

In [3]:
t=('apple','banana','orange','grape')
print(t[0])
print(t[1])
print(t[2])
print(t[3])

apple
banana
orange
grape

In [4]:
t1=('apple','banana','orange')
t2=('grape','pineapple')
t = t1 + t2
print(t)

('apple', 'banana', 'orange', 'grape', 'pineapple')

In [5]:
a=2
b=3
if a>b:
  print('hello')
print('ok')

ok

In [7]:
a=2
b=3
if a>b:
  print('hello')
else:
  print('world')
print('ok')

world
ok

In [8]:
a=2
b=3
if a<b:
  print('a<b')
  if a==1:
    print('a=1')
  elif a==2:
    print('a=2')
  elif a==3:
    print('a=3')
elif a>b:
  print('a>b')
else:
  print('a=b')
print('ok')

a<b
a=2
ok

In [9]:
a=2
b=3
c=0
if a>b or a<c and a==2 or b==4:
  print('ok1')
else:
  print('xxx')

xxx

In [12]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(b)
  print(a)

1
2
3
x
1
2
3
y
1
2
3
z

In [13]:
for a in ['x','y','z']:
  for b in [1,2,3]:
    print(f'{a}{b}')

x1
x2
x3
y1
y2
y3
z1
z2
z3

In [14]:
i=[]
for t in range(10):
  t+=1
  i.append(t)
i

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
try:
  a=input('輸入數字:')
  print(a+1)
except:
  pass
print('hello')

輸入數字:1
hello

In [19]:
a=[]
for i in range(1, 10):
  a.append(i*i)
print(a)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
b=[j*j for j in range(1,10)]
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81]